<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="secondFormGroup" label="Вибір проблеми">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <div *ngFor="let issueType of issueGroups">
      {{ issueType.name }}
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose location</ng-template>
    <div>
        <mgl-map id="chooseLocationMap"
          [style]="'mapbox://styles/mapbox/streets-v11'"
          [zoom]="[9]"
          [center]="[-74.5, 40]"
        >
        </mgl-map>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="userDataFormGroup">
    <form [formGroup]="userDataFormGroup">
      <ng-template matStepLabel>Підпис</ng-template>
      <mat-form-field>
        <mat-label>Прізвище</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="nameInputCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ім'я</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="surnameInputCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>По-батькові</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="lastNameInputCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
