/* You can add global styles to this file, and also import other style files */

$font-family-sans-serif:      "e-ukraine";
$font-family-monospace:       Arial;
$font-family-base:            $font-family-sans-serif !default;

@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'e-ukraine'
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);


.nav-item {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  &:hover {
    border-bottom-color: #000;
    transition: 0.2s ease-in-out;
  }
}


/* Importing Bootstrap SCSS file. */
@import 'e-ukraine';

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/reboot";
@import "reset";

html, body { height: 100%; }
body { margin: 0; font-family: "e-ukraine"; }

@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';
