/* You can add global styles to this file, and also import other style files */

$font-family-sans-serif:      "e-ukraine";
$font-family-monospace:       Arial;
$font-family-base:            $font-family-sans-serif !default;


.nav-item {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  &:hover {
    border-bottom-color: #000;
    transition: 0.2s ease-in-out;
  }
}


/* Importing Bootstrap SCSS file. */
@import 'e-ukraine';
@import '~bootstrap/scss/bootstrap';

